LinkedIn Auto Post Generator.json
{
  "name": "LinkedIn Auto Post Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "6f01ddbc-cc85-4333-8f63-4f230fb88487",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gemini-2.0-flash-exp"
        },
        "messages": {
          "values": [
            {
              "content": "Generate a single engaging LinkedIn post topic related to technology, business, or professional development. Return only the topic title, nothing else."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "38334208-a996-4fb2-ac22-e4bed9bcf1f0",
      "name": "Generate Topic",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gemini-2.0-flash-exp"
        },
        "messages": {
          "values": [
            {
              "content": "=Generate 5-7 relevant LinkedIn hashtags for this topic: {{ $json.message.content }}. Return only the hashtags separated by spaces, starting with #."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "33a08e0f-124c-431f-b1f2-3076644e1b05",
      "name": "Generate Hashtags",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        816,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gemini-2.0-flash-exp"
        },
        "messages": {
          "values": [
            {
              "content": "=Write an engaging LinkedIn post about this topic: {{ $(\"Generate Topic\").item.json.message.content }}. The post should be professional, insightful, and between 150-250 words. Do not include hashtags in the post content."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "63dabdf3-20be-428c-92ec-51a30c15c182",
      "name": "Generate Post Content",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1168,
        304
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "imagen-3.0-generate-001"
        },
        "prompt": "=Create a professional, modern image for a LinkedIn post about: {{ $(\"Generate Topic\").item.json.message.content }}. The image should be clean, corporate-friendly, and visually appealing.",
        "options": {
          "sampleCount": 1,
          "binaryPropertyOutput": "data"
        }
      },
      "id": "7ee9279d-fc7f-4d1d-914a-8dfc0c3d39a7",
      "name": "Generate Image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1520,
        304
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "7NxgaiFVwIyyyUeD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "postText",
              "value": "={{ $(\"Generate Post Content\").item.json.message.content }}\n\n{{ $(\"Generate Hashtags\").item.json.message.content }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "topic",
              "value": "={{ $(\"Generate Topic\").item.json.message.content }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "bfb7def8-fb90-451a-9053-347d269d5e97",
      "name": "Combine Post Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        304
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.postText }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "title": "={{ $json.topic }}",
          "visibility": "PUBLIC"
        }
      },
      "id": "c8b074e0-2f2f-488b-b85a-73a0e90a942a",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1968,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Generate Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Topic": {
      "main": [
        [
          {
            "node": "Generate Hashtags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hashtags": {
      "main": [
        [
          {
            "node": "Generate Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post Content": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Combine Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Post Data": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1363cdd0-66a8-46d4-aae9-a3eb8233628d",
  "meta": {
    "instanceId": "f2375b58d06d3fde2a193a3ae3c34eb8369effe38e03920c80088d812fe2f934"
  },
  "id": "qqi7Wpy2DebbgNO6",
  "tags": []
}